# Binance Futures API Credentials
BINANCE_TESTNET_API_KEY=""
BINANCE_TESTNET_API_SECRET=""

BINANCE_PROD_API_KEY=""
BINANCE_PROD_API_SECRET=""

# Proxy for whitelisted egress IP (OCI tinyproxy)
BINANCE_PROD_PROXY_URL=""
